#PYTHONE PROJECT

In [113]:
import pandas as pd

In [114]:
import xlrd

In [115]:
data=pd.read_excel("data-06-PG.xls")

In [116]:
data.head(5)

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,1984-01-01 00:00:00,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,1977-09-12 00:00:00,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [117]:
data.tail(5)

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
65530,464908,52303,64541,83.67,9,16120,86,5427,1987-10-10 00:00:00,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,1
65531,434034,52803,68929,78.34,9,16120,86,5448,22-12-98,NaN,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
65532,433849,52999,74740,76.26,9,16120,86,5427,28-09-86,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
65533,559443,57259,82172,70.58,9,16120,86,5461,13-10-85,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
65534,626508,62213,82172,76.67,9,16120,86,5461,1989-10-01 00:00:00,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0

In [118]:
data.shape

(65535, 41)

In [119]:
data.columns

Index(['UniqueID', 'disbursed_amount', 'asset_cost', 'ltv', 'branch_id',
       'supplier_id', 'manufacturer_id', 'Current_pincode_ID', 'Date.of.Birth',
       'Employment.Type', 'DisbursalDate', 'State_ID', 'Employee_code_ID',
       'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag',
       'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS',
       'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT',
       'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS',
       'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT',
       'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT', 'SEC.INSTAL.AMT',
       'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
       'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES',
       'loan_default'],
      dtype='object')

In [120]:
data.dtypes

UniqueID                                 int64
disbursed_amount                         int64
asset_cost                               int64
ltv                                    float64
branch_id                                int64
supplier_id                              int64
manufacturer_id                          int64
Current_pincode_ID                       int64
Date.of.Birth                           object
Employment.Type                         object
DisbursalDate                           object
State_ID                                 int64
Employee_code_ID                         int64
MobileNo_Avl_Flag                        int64
Aadhar_flag                              int64
PAN_flag                                 int64
VoterID_flag                             int64
Driving_flag                             int64
Passport_flag                            int64
PERFORM_CNS.SCORE                        int64
PERFORM_CNS.SCORE.DESCRIPTION           object
PRI.NO.OF.ACCTS                          int64
PRI.ACTIVE.ACCTS                         int64
PRI.OVERDUE.ACCTS                        int64
PRI.CURRENT.BALANCE                      int64
PRI.SANCTIONED.AMOUNT                    int64
PRI.DISBURSED.AMOUNT                     int64
SEC.NO.OF.ACCTS                          int64
SEC.ACTIVE.ACCTS                         int64
SEC.OVERDUE.ACCTS                        int64
SEC.CURRENT.BALANCE                      int64
SEC.SANCTIONED.AMOUNT                    int64
SEC.DISBURSED.AMOUNT                     int64
PRIMARY.INSTAL.AMT                       int64
SEC.INSTAL.AMT                           int64
NEW.ACCTS.IN.LAST.SIX.MONTHS             int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS      int64
AVERAGE.ACCT.AGE                        object
CREDIT.HISTORY.LENGTH                   object
NO.OF_INQUIRIES                          int64
loan_default                             int64
dtype: object

In [121]:
data.info

<bound method DataFrame.info of        UniqueID  disbursed_amount  asset_cost    ltv  branch_id  supplier_id  \
0        420825             50578       58400  89.55         67        22807
1        537409             47145       65550  73.23         67        22807
2        417566             53278       61360  89.63         67        22807
3        624493             57513       66113  88.48         67        22807
4        539055             52378       60300  88.39         67        22807
...         ...               ...         ...    ...        ...          ...
65530    464908             52303       64541  83.67          9        16120
65531    434034             52803       68929  78.34          9        16120
65532    433849             52999       74740  76.26          9        16120
65533    559443             57259       82172  70.58          9        16120
65534    626508             62213       82172  76.67          9        16120

       manufacturer_id  Current_pincode_ID        Date.of.Birth  \
0                   45                1441  1984-01-01 00:00:00
1                   45                1502             31-07-85
2                   45                1497             24-08-85
3                   45                1501             30-12-93
4                   45                1495  1977-09-12 00:00:00
...                ...                 ...                  ...
65530               86                5427  1987-10-10 00:00:00
65531               86                5448             22-12-98
65532               86                5427             28-09-86
65533               86                5461             13-10-85
65534               86                5461  1989-10-01 00:00:00

      Employment.Type  ... SEC.SANCTIONED.AMOUNT  SEC.DISBURSED.AMOUNT  \
0            Salaried  ...                     0                     0
1       Self employed  ...                     0                     0
2       Self employed  ...                     0                     0
3       Self employed  ...                     0                     0
4       Self employed  ...                     0                     0
...               ...  ...                   ...                   ...
65530   Self employed  ...                     0                     0
65531             NaN  ...                     0                     0
65532   Self employed  ...                     0                     0
65533   Self employed  ...                     0                     0
65534   Self employed  ...                     0                     0

       PRIMARY.INSTAL.AMT  SEC.INSTAL.AMT  NEW.ACCTS.IN.LAST.SIX.MONTHS  \
0                       0               0                             0
1                    1991               0                             0
2                       0               0                             0
3                      31               0                             0
4                       0               0                             0
...                   ...             ...                           ...
65530                   0               0                             0
65531                   0               0                             0
65532                   0               0                             0
65533                   0               0                             0
65534                   0               0                             0

       DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  AVERAGE.ACCT.AGE  \
0                                        0         0yrs 0mon
1                                        1        1yrs 11mon
2                                        0         0yrs 0mon
3                                        0         0yrs 8mon
4                                        0         0yrs 0mon
...                                    ...               ...
65530                                    0         0yrs 0mon
65531                                    0         0yrs 0mon
65532                                    0         0yrs 0mon
65533                                    0         0yrs 0mon
65534                                    0         0yrs 0mon

       CREDIT.HISTORY.LENGTH  NO.OF_INQUIRIES  loan_default
0                  0yrs 0mon                0             0
1                 1yrs 11mon                0             1
2                  0yrs 0mon                0             0
3                  1yrs 3mon                1             1
4                  0yrs 0mon                1             1
...                      ...              ...           ...
65530              0yrs 0mon                0             1
65531              0yrs 0mon                0             0
65532              0yrs 0mon                0             0
65533              0yrs 0mon                0             0
65534              0yrs 0mon                0             0

[65535 rows x 41 columns]>

In [122]:
data.isna()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
65531,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
65532,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
65533,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
65534,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [123]:
data.isna().sum()

UniqueID                                  0
disbursed_amount                          0
asset_cost                                0
ltv                                       0
branch_id                                 0
supplier_id                               0
manufacturer_id                           0
Current_pincode_ID                        0
Date.of.Birth                             0
Employment.Type                        2658
DisbursalDate                             0
State_ID                                  0
Employee_code_ID                          0
MobileNo_Avl_Flag                         0
Aadhar_flag                               0
PAN_flag                                  0
VoterID_flag                              0
Driving_flag                              0
Passport_flag                             0
PERFORM_CNS.SCORE                         0
PERFORM_CNS.SCORE.DESCRIPTION             0
PRI.NO.OF.ACCTS                           0
PRI.ACTIVE.ACCTS                          0
PRI.OVERDUE.ACCTS                         0
PRI.CURRENT.BALANCE                       0
PRI.SANCTIONED.AMOUNT                     0
PRI.DISBURSED.AMOUNT                      0
SEC.NO.OF.ACCTS                           0
SEC.ACTIVE.ACCTS                          0
SEC.OVERDUE.ACCTS                         0
SEC.CURRENT.BALANCE                       0
SEC.SANCTIONED.AMOUNT                     0
SEC.DISBURSED.AMOUNT                      0
PRIMARY.INSTAL.AMT                        0
SEC.INSTAL.AMT                            0
NEW.ACCTS.IN.LAST.SIX.MONTHS              0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS       0
AVERAGE.ACCT.AGE                          0
CREDIT.HISTORY.LENGTH                     0
NO.OF_INQUIRIES                           0
loan_default                              0
dtype: int64

In [124]:
data1=data.drop(['Employment.Type','Date.of.Birth','DisbursalDate'],axis=1)

In [125]:
data1.isna().sum()

UniqueID                               0
disbursed_amount                       0
asset_cost                             0
ltv                                    0
branch_id                              0
supplier_id                            0
manufacturer_id                        0
Current_pincode_ID                     0
State_ID                               0
Employee_code_ID                       0
MobileNo_Avl_Flag                      0
Aadhar_flag                            0
PAN_flag                               0
VoterID_flag                           0
Driving_flag                           0
Passport_flag                          0
PERFORM_CNS.SCORE                      0
PERFORM_CNS.SCORE.DESCRIPTION          0
PRI.NO.OF.ACCTS                        0
PRI.ACTIVE.ACCTS                       0
PRI.OVERDUE.ACCTS                      0
PRI.CURRENT.BALANCE                    0
PRI.SANCTIONED.AMOUNT                  0
PRI.DISBURSED.AMOUNT                   0
SEC.NO.OF.ACCTS                        0
SEC.ACTIVE.ACCTS                       0
SEC.OVERDUE.ACCTS                      0
SEC.CURRENT.BALANCE                    0
SEC.SANCTIONED.AMOUNT                  0
SEC.DISBURSED.AMOUNT                   0
PRIMARY.INSTAL.AMT                     0
SEC.INSTAL.AMT                         0
NEW.ACCTS.IN.LAST.SIX.MONTHS           0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    0
AVERAGE.ACCT.AGE                       0
CREDIT.HISTORY.LENGTH                  0
NO.OF_INQUIRIES                        0
loan_default                           0
dtype: int64

In [126]:
display(data1)

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,State_ID,Employee_code_ID,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,6,1998,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,6,1998,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,6,1998,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,6,1998,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,6,1998,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,464908,52303,64541,83.67,9,16120,86,5427,3,1475,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,1
65531,434034,52803,68929,78.34,9,16120,86,5448,3,1475,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
65532,433849,52999,74740,76.26,9,16120,86,5427,3,1475,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
65533,559443,57259,82172,70.58,9,16120,86,5461,3,1475,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
65534,626508,62213,82172,76.67,9,16120,86,5461,3,1475,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0

In [127]:
data1.describe()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,State_ID,Employee_code_ID,...,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,NO.OF_INQUIRIES,loan_default
count,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,...,65535.000000,6.553500e+04,6.553500e+04,6.553500e+04,6.553500e+04,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000
mean,536026.870603,53726.987961,75882.391684,73.890214,55.826062,18996.074861,68.776440,3722.998688,6.525750,912.141924,...,0.007797,6.256708e+03,7.488471e+03,7.377916e+03,9.291863e+03,202.034424,0.358053,0.088457,0.194308,0.202411
std,68680.552181,12142.777363,17435.491746,11.747705,55.842898,3271.356250,21.599848,2194.808762,4.262627,547.100574,...,0.119830,2.463340e+05,2.262638e+05,2.257475e+05,1.113889e+05,6820.941204,0.912299,0.361755,0.691226,0.401800
min,417428.000000,13369.000000,38500.000000,10.030000,1.000000,10524.000000,45.000000,1.000000,1.000000,3.000000,...,0.000000,-2.397820e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,475657.500000,46749.000000,66166.000000,67.670000,11.000000,16159.000000,45.000000,1751.000000,3.000000,420.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
50%,536264.000000,53303.000000,71260.000000,75.740000,36.000000,18310.000000,86.000000,3026.000000,5.000000,872.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
75%,596547.500000,59713.000000,79119.000000,83.010000,74.000000,22320.000000,86.000000,5904.000000,9.000000,1387.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.733000e+03,0.000000,0.000000,0.000000,0.000000,0.000000
max,658675.000000,166972.000000,264500.000000,95.000000,251.000000,24787.000000,153.000000,7270.000000,18.000000,3339.000000,...,8.000000,3.603285e+07,3.000000e+07,3.000000e+07,1.551855e+07,756677.000000,35.000000,8.000000,19.000000,1.000000

 ## DATA PREPROCESSING

# label encoding

In [128]:
from sklearn import preprocessing as p

In [129]:
data1["PERFORM_CNS.SCORE.DESCRIPTION"]

0        No Bureau History Available
1                      I-Medium Risk
2        No Bureau History Available
3                   L-Very High Risk
4        No Bureau History Available
                    ...
65530    No Bureau History Available
65531    No Bureau History Available
65532    No Bureau History Available
65533    No Bureau History Available
65534    No Bureau History Available
Name: PERFORM_CNS.SCORE.DESCRIPTION, Length: 65535, dtype: object

In [130]:
data1["PERFORM_CNS.SCORE.DESCRIPTION"].unique()

array(['No Bureau History Available', 'I-Medium Risk', 'L-Very High Risk',
       'A-Very Low Risk',
       'Not Scored: Not Enough Info available on the customer',
       'D-Very Low Risk', 'M-Very High Risk', 'B-Very Low Risk',
       'C-Very Low Risk', 'E-Low Risk', 'H-Medium Risk', 'F-Low Risk',
       'K-High Risk',
       'Not Scored: No Activity seen on the customer (Inactive)',
       'Not Scored: Sufficient History Not Available',
       'Not Scored: No Updates available in last 36 months', 'G-Low Risk',
       'J-High Risk', 'Not Scored: Only a Guarantor',
       'Not Scored: More than 50 active Accounts found'], dtype=object)

In [131]:
encoder=p.LabelEncoder()

In [132]:
encoder.fit(data1["PERFORM_CNS.SCORE.DESCRIPTION"])

LabelEncoder()

In [133]:
encoder.transform(data1["PERFORM_CNS.SCORE.DESCRIPTION"])

array([13,  8, 13, ..., 13, 13, 13])

In [134]:
coded=encoder.transform(data1["PERFORM_CNS.SCORE.DESCRIPTION"])

In [135]:
coded

array([13,  8, 13, ..., 13, 13, 13])

In [136]:
encoder.inverse_transform(coded)

array(['No Bureau History Available', 'I-Medium Risk',
       'No Bureau History Available', ..., 'No Bureau History Available',
       'No Bureau History Available', 'No Bureau History Available'],
      dtype=object)

In [137]:
encoder.classes_

array(['A-Very Low Risk', 'B-Very Low Risk', 'C-Very Low Risk',
       'D-Very Low Risk', 'E-Low Risk', 'F-Low Risk', 'G-Low Risk',
       'H-Medium Risk', 'I-Medium Risk', 'J-High Risk', 'K-High Risk',
       'L-Very High Risk', 'M-Very High Risk',
       'No Bureau History Available',
       'Not Scored: More than 50 active Accounts found',
       'Not Scored: No Activity seen on the customer (Inactive)',
       'Not Scored: No Updates available in last 36 months',
       'Not Scored: Not Enough Info available on the customer',
       'Not Scored: Only a Guarantor',
       'Not Scored: Sufficient History Not Available'], dtype=object)

In [138]:
data1["AVERAGE.ACCT.AGE"]

0         0yrs 0mon
1        1yrs 11mon
2         0yrs 0mon
3         0yrs 8mon
4         0yrs 0mon
            ...
65530     0yrs 0mon
65531     0yrs 0mon
65532     0yrs 0mon
65533     0yrs 0mon
65534     0yrs 0mon
Name: AVERAGE.ACCT.AGE, Length: 65535, dtype: object

In [139]:
data1["AVERAGE.ACCT.AGE"].unique()

array(['0yrs 0mon', '1yrs 11mon', '0yrs 8mon', '1yrs 9mon', '0yrs 2mon',
       '4yrs 8mon', '1yrs 7mon', '0yrs 7mon', '2yrs 1mon', '1yrs 3mon',
       '1yrs 0mon', '3yrs 11mon', '0yrs 1mon', '2yrs 6mon', '1yrs 10mon',
       '0yrs 11mon', '0yrs 6mon', '2yrs 9mon', '3yrs 1mon', '2yrs 0mon',
       '0yrs 4mon', '1yrs 1mon', '0yrs 5mon', '2yrs 10mon', '3yrs 9mon',
       '1yrs 2mon', '12yrs 10mon', '0yrs 10mon', '1yrs 6mon', '2yrs 5mon',
       '3yrs 8mon', '2yrs 3mon', '1yrs 5mon', '2yrs 8mon', '0yrs 9mon',
       '3yrs 0mon', '7yrs 3mon', '4yrs 4mon', '1yrs 4mon', '0yrs 3mon',
       '1yrs 8mon', '3yrs 4mon', '3yrs 5mon', '4yrs 7mon', '2yrs 7mon',
       '2yrs 4mon', '3yrs 10mon', '5yrs 6mon', '2yrs 2mon', '3yrs 3mon',
       '4yrs 0mon', '4yrs 10mon', '9yrs 10mon', '5yrs 0mon', '5yrs 1mon',
       '4yrs 11mon', '6yrs 2mon', '10yrs 3mon', '6yrs 11mon', '4yrs 6mon',
       '4yrs 5mon', '6yrs 8mon', '6yrs 5mon', '5yrs 3mon', '4yrs 1mon',
       '3yrs 6mon', '4yrs 3mon', '3yrs 7mon', '3yrs 2mon', '7yrs 0mon',
       '5yrs 2mon', '7yrs 11mon', '5yrs 5mon', '4yrs 9mon', '9yrs 11mon',
       '7yrs 5mon', '2yrs 11mon', '10yrs 0mon', '6yrs 0mon', '5yrs 9mon',
       '4yrs 2mon', '11yrs 7mon', '6yrs 9mon', '6yrs 3mon', '10yrs 9mon',
       '7yrs 6mon', '8yrs 0mon', '12yrs 3mon', '8yrs 1mon', '7yrs 9mon',
       '5yrs 10mon', '5yrs 4mon', '8yrs 5mon', '11yrs 4mon', '6yrs 7mon',
       '5yrs 11mon', '6yrs 4mon', '6yrs 6mon', '9yrs 7mon', '5yrs 7mon',
       '8yrs 8mon', '5yrs 8mon', '10yrs 2mon', '8yrs 9mon', '10yrs 8mon',
       '12yrs 0mon', '9yrs 8mon', '8yrs 2mon', '13yrs 10mon',
       '7yrs 10mon', '7yrs 8mon', '9yrs 9mon', '9yrs 2mon', '8yrs 4mon',
       '10yrs 11mon', '11yrs 0mon', '11yrs 8mon', '9yrs 1mon',
       '10yrs 1mon', '6yrs 10mon', '11yrs 2mon', '11yrs 10mon',
       '10yrs 4mon', '13yrs 0mon', '13yrs 8mon', '10yrs 10mon',
       '11yrs 6mon', '10yrs 7mon', '7yrs 7mon', '9yrs 0mon', '13yrs 1mon',
       '7yrs 4mon', '6yrs 1mon', '11yrs 1mon', '14yrs 7mon', '8yrs 3mon',
       '7yrs 1mon', '8yrs 7mon', '9yrs 6mon', '7yrs 2mon', '9yrs 4mon',
       '14yrs 3mon', '11yrs 11mon', '9yrs 5mon', '8yrs 6mon',
       '11yrs 3mon', '8yrs 10mon', '9yrs 3mon', '12yrs 9mon',
       '12yrs 7mon', '14yrs 5mon', '12yrs 6mon', '14yrs 1mon',
       '13yrs 5mon', '15yrs 11mon', '10yrs 6mon', '13yrs 7mon',
       '13yrs 6mon', '14yrs 8mon', '30yrs 9mon', '11yrs 9mon',
       '15yrs 3mon', '8yrs 11mon', '18yrs 11mon'], dtype=object)

In [140]:
encoder=p.LabelEncoder()

In [141]:
encoder.fit(data1["AVERAGE.ACCT.AGE"])

LabelEncoder()

In [142]:
encoder.transform(data1["AVERAGE.ACCT.AGE"])

array([ 0, 57,  0, ...,  0,  0,  0])

In [143]:
coded=encoder.transform(data1["AVERAGE.ACCT.AGE"])

In [144]:
coded

array([ 0, 57,  0, ...,  0,  0,  0])

In [145]:
encoder.inverse_transform(coded)

array(['0yrs 0mon', '1yrs 11mon', '0yrs 0mon', ..., '0yrs 0mon',
       '0yrs 0mon', '0yrs 0mon'], dtype=object)

In [146]:
encoder.classes_

array(['0yrs 0mon', '0yrs 10mon', '0yrs 11mon', '0yrs 1mon', '0yrs 2mon',
       '0yrs 3mon', '0yrs 4mon', '0yrs 5mon', '0yrs 6mon', '0yrs 7mon',
       '0yrs 8mon', '0yrs 9mon', '10yrs 0mon', '10yrs 10mon',
       '10yrs 11mon', '10yrs 1mon', '10yrs 2mon', '10yrs 3mon',
       '10yrs 4mon', '10yrs 6mon', '10yrs 7mon', '10yrs 8mon',
       '10yrs 9mon', '11yrs 0mon', '11yrs 10mon', '11yrs 11mon',
       '11yrs 1mon', '11yrs 2mon', '11yrs 3mon', '11yrs 4mon',
       '11yrs 6mon', '11yrs 7mon', '11yrs 8mon', '11yrs 9mon',
       '12yrs 0mon', '12yrs 10mon', '12yrs 3mon', '12yrs 6mon',
       '12yrs 7mon', '12yrs 9mon', '13yrs 0mon', '13yrs 10mon',
       '13yrs 1mon', '13yrs 5mon', '13yrs 6mon', '13yrs 7mon',
       '13yrs 8mon', '14yrs 1mon', '14yrs 3mon', '14yrs 5mon',
       '14yrs 7mon', '14yrs 8mon', '15yrs 11mon', '15yrs 3mon',
       '18yrs 11mon', '1yrs 0mon', '1yrs 10mon', '1yrs 11mon',
       '1yrs 1mon', '1yrs 2mon', '1yrs 3mon', '1yrs 4mon', '1yrs 5mon',
       '1yrs 6mon', '1yrs 7mon', '1yrs 8mon', '1yrs 9mon', '2yrs 0mon',
       '2yrs 10mon', '2yrs 11mon', '2yrs 1mon', '2yrs 2mon', '2yrs 3mon',
       '2yrs 4mon', '2yrs 5mon', '2yrs 6mon', '2yrs 7mon', '2yrs 8mon',
       '2yrs 9mon', '30yrs 9mon', '3yrs 0mon', '3yrs 10mon', '3yrs 11mon',
       '3yrs 1mon', '3yrs 2mon', '3yrs 3mon', '3yrs 4mon', '3yrs 5mon',
       '3yrs 6mon', '3yrs 7mon', '3yrs 8mon', '3yrs 9mon', '4yrs 0mon',
       '4yrs 10mon', '4yrs 11mon', '4yrs 1mon', '4yrs 2mon', '4yrs 3mon',
       '4yrs 4mon', '4yrs 5mon', '4yrs 6mon', '4yrs 7mon', '4yrs 8mon',
       '4yrs 9mon', '5yrs 0mon', '5yrs 10mon', '5yrs 11mon', '5yrs 1mon',
       '5yrs 2mon', '5yrs 3mon', '5yrs 4mon', '5yrs 5mon', '5yrs 6mon',
       '5yrs 7mon', '5yrs 8mon', '5yrs 9mon', '6yrs 0mon', '6yrs 10mon',
       '6yrs 11mon', '6yrs 1mon', '6yrs 2mon', '6yrs 3mon', '6yrs 4mon',
       '6yrs 5mon', '6yrs 6mon', '6yrs 7mon', '6yrs 8mon', '6yrs 9mon',
       '7yrs 0mon', '7yrs 10mon', '7yrs 11mon', '7yrs 1mon', '7yrs 2mon',
       '7yrs 3mon', '7yrs 4mon', '7yrs 5mon', '7yrs 6mon', '7yrs 7mon',
       '7yrs 8mon', '7yrs 9mon', '8yrs 0mon', '8yrs 10mon', '8yrs 11mon',
       '8yrs 1mon', '8yrs 2mon', '8yrs 3mon', '8yrs 4mon', '8yrs 5mon',
       '8yrs 6mon', '8yrs 7mon', '8yrs 8mon', '8yrs 9mon', '9yrs 0mon',
       '9yrs 10mon', '9yrs 11mon', '9yrs 1mon', '9yrs 2mon', '9yrs 3mon',
       '9yrs 4mon', '9yrs 5mon', '9yrs 6mon', '9yrs 7mon', '9yrs 8mon',
       '9yrs 9mon'], dtype=object)

In [147]:
data1["CREDIT.HISTORY.LENGTH"]

0         0yrs 0mon
1        1yrs 11mon
2         0yrs 0mon
3         1yrs 3mon
4         0yrs 0mon
            ...
65530     0yrs 0mon
65531     0yrs 0mon
65532     0yrs 0mon
65533     0yrs 0mon
65534     0yrs 0mon
Name: CREDIT.HISTORY.LENGTH, Length: 65535, dtype: object

In [148]:
data1["CREDIT.HISTORY.LENGTH"].unique()

array(['0yrs 0mon', '1yrs 11mon', '1yrs 3mon', '2yrs 0mon', '0yrs 2mon',
       '4yrs 8mon', '1yrs 7mon', '0yrs 7mon', '2yrs 3mon', '2yrs 9mon',
       '2yrs 1mon', '7yrs 2mon', '0yrs 1mon', '5yrs 6mon', '4yrs 7mon',
       '1yrs 9mon', '0yrs 11mon', '0yrs 10mon', '5yrs 10mon', '3yrs 1mon',
       '5yrs 4mon', '4yrs 10mon', '0yrs 4mon', '4yrs 0mon', '3yrs 9mon',
       '2yrs 11mon', '1yrs 8mon', '5yrs 2mon', '2yrs 10mon', '1yrs 2mon',
       '1yrs 5mon', '12yrs 10mon', '2yrs 2mon', '3yrs 8mon', '7yrs 5mon',
       '1yrs 0mon', '4yrs 2mon', '1yrs 10mon', '0yrs 6mon', '3yrs 2mon',
       '5yrs 1mon', '4yrs 3mon', '6yrs 9mon', '1yrs 1mon', '11yrs 0mon',
       '0yrs 9mon', '5yrs 0mon', '11yrs 2mon', '4yrs 1mon', '1yrs 4mon',
       '4yrs 9mon', '12yrs 11mon', '3yrs 7mon', '2yrs 5mon', '0yrs 3mon',
       '6yrs 6mon', '1yrs 6mon', '7yrs 4mon', '19yrs 3mon', '3yrs 0mon',
       '4yrs 6mon', '2yrs 7mon', '2yrs 8mon', '3yrs 11mon', '4yrs 11mon',
       '8yrs 1mon', '7yrs 7mon', '6yrs 7mon', '2yrs 4mon', '3yrs 10mon',
       '3yrs 3mon', '9yrs 2mon', '5yrs 11mon', '7yrs 1mon', '0yrs 5mon',
       '3yrs 5mon', '3yrs 4mon', '2yrs 6mon', '3yrs 6mon', '6yrs 10mon',
       '6yrs 3mon', '4yrs 5mon', '13yrs 2mon', '12yrs 3mon', '0yrs 8mon',
       '6yrs 2mon', '11yrs 11mon', '6yrs 5mon', '5yrs 5mon', '6yrs 11mon',
       '11yrs 4mon', '6yrs 1mon', '8yrs 6mon', '8yrs 4mon', '5yrs 8mon',
       '8yrs 11mon', '11yrs 3mon', '10yrs 9mon', '7yrs 3mon', '5yrs 7mon',
       '10yrs 0mon', '6yrs 8mon', '5yrs 3mon', '10yrs 10mon', '8yrs 8mon',
       '4yrs 4mon', '6yrs 0mon', '8yrs 3mon', '8yrs 7mon', '10yrs 5mon',
       '24yrs 8mon', '13yrs 5mon', '5yrs 9mon', '8yrs 5mon', '10yrs 2mon',
       '7yrs 0mon', '8yrs 10mon', '11yrs 5mon', '9yrs 4mon', '12yrs 0mon',
       '9yrs 8mon', '7yrs 11mon', '9yrs 5mon', '11yrs 7mon', '7yrs 8mon',
       '6yrs 4mon', '9yrs 11mon', '9yrs 10mon', '13yrs 3mon',
       '11yrs 8mon', '10yrs 1mon', '11yrs 6mon', '8yrs 9mon',
       '10yrs 4mon', '16yrs 1mon', '9yrs 1mon', '15yrs 2mon',
       '11yrs 9mon', '12yrs 1mon', '8yrs 2mon', '22yrs 7mon',
       '10yrs 3mon', '9yrs 7mon', '8yrs 0mon', '14yrs 9mon',
       '14yrs 10mon', '14yrs 0mon', '10yrs 8mon', '16yrs 5mon',
       '10yrs 7mon', '11yrs 10mon', '12yrs 6mon', '7yrs 9mon',
       '16yrs 4mon', '11yrs 1mon', '7yrs 6mon', '7yrs 10mon', '9yrs 9mon',
       '12yrs 8mon', '12yrs 9mon', '13yrs 7mon', '9yrs 0mon',
       '17yrs 1mon', '22yrs 3mon', '13yrs 10mon', '13yrs 6mon',
       '12yrs 4mon', '10yrs 11mon', '9yrs 3mon', '12yrs 5mon',
       '14yrs 11mon', '10yrs 6mon', '9yrs 6mon', '15yrs 1mon',
       '14yrs 3mon', '13yrs 4mon', '14yrs 7mon', '15yrs 11mon',
       '27yrs 4mon', '13yrs 0mon', '13yrs 8mon', '19yrs 11mon',
       '16yrs 8mon', '24yrs 2mon', '15yrs 7mon', '13yrs 1mon',
       '12yrs 7mon', '15yrs 6mon', '15yrs 5mon', '13yrs 11mon',
       '16yrs 6mon', '23yrs 3mon', '17yrs 0mon', '14yrs 6mon',
       '17yrs 10mon', '14yrs 1mon', '18yrs 1mon', '15yrs 3mon',
       '20yrs 6mon', '14yrs 8mon', '15yrs 9mon', '19yrs 9mon',
       '15yrs 10mon', '17yrs 9mon', '15yrs 4mon', '12yrs 2mon',
       '19yrs 10mon', '15yrs 8mon', '14yrs 4mon', '14yrs 2mon',
       '14yrs 5mon', '27yrs 3mon', '19yrs 8mon', '17yrs 6mon',
       '16yrs 9mon', '20yrs 1mon', '16yrs 2mon', '19yrs 4mon',
       '13yrs 9mon', '18yrs 4mon', '17yrs 3mon', '18yrs 2mon',
       '37yrs 5mon', '16yrs 0mon', '18yrs 6mon', '19yrs 7mon',
       '16yrs 3mon', '20yrs 5mon', '21yrs 3mon', '25yrs 6mon',
       '20yrs 8mon', '22yrs 1mon', '20yrs 9mon', '17yrs 2mon',
       '18yrs 5mon', '30yrs 9mon', '29yrs 7mon', '15yrs 0mon',
       '16yrs 10mon', '18yrs 11mon'], dtype=object)

In [149]:
encoder=p.LabelEncoder()

In [150]:
encoder.fit(data1["CREDIT.HISTORY.LENGTH"])

LabelEncoder()

In [151]:
encoder.transform(data1["CREDIT.HISTORY.LENGTH"])

array([  0, 116,   0, ...,   0,   0,   0])

In [152]:
coded=encoder.transform(data1["CREDIT.HISTORY.LENGTH"])

In [153]:
coded

array([  0, 116,   0, ...,   0,   0,   0])

In [154]:
encoder.inverse_transform(coded)

array(['0yrs 0mon', '1yrs 11mon', '0yrs 0mon', ..., '0yrs 0mon',
       '0yrs 0mon', '0yrs 0mon'], dtype=object)

In [155]:
encoder.classes_

array(['0yrs 0mon', '0yrs 10mon', '0yrs 11mon', '0yrs 1mon', '0yrs 2mon',
       '0yrs 3mon', '0yrs 4mon', '0yrs 5mon', '0yrs 6mon', '0yrs 7mon',
       '0yrs 8mon', '0yrs 9mon', '10yrs 0mon', '10yrs 10mon',
       '10yrs 11mon', '10yrs 1mon', '10yrs 2mon', '10yrs 3mon',
       '10yrs 4mon', '10yrs 5mon', '10yrs 6mon', '10yrs 7mon',
       '10yrs 8mon', '10yrs 9mon', '11yrs 0mon', '11yrs 10mon',
       '11yrs 11mon', '11yrs 1mon', '11yrs 2mon', '11yrs 3mon',
       '11yrs 4mon', '11yrs 5mon', '11yrs 6mon', '11yrs 7mon',
       '11yrs 8mon', '11yrs 9mon', '12yrs 0mon', '12yrs 10mon',
       '12yrs 11mon', '12yrs 1mon', '12yrs 2mon', '12yrs 3mon',
       '12yrs 4mon', '12yrs 5mon', '12yrs 6mon', '12yrs 7mon',
       '12yrs 8mon', '12yrs 9mon', '13yrs 0mon', '13yrs 10mon',
       '13yrs 11mon', '13yrs 1mon', '13yrs 2mon', '13yrs 3mon',
       '13yrs 4mon', '13yrs 5mon', '13yrs 6mon', '13yrs 7mon',
       '13yrs 8mon', '13yrs 9mon', '14yrs 0mon', '14yrs 10mon',
       '14yrs 11mon', '14yrs 1mon', '14yrs 2mon', '14yrs 3mon',
       '14yrs 4mon', '14yrs 5mon', '14yrs 6mon', '14yrs 7mon',
       '14yrs 8mon', '14yrs 9mon', '15yrs 0mon', '15yrs 10mon',
       '15yrs 11mon', '15yrs 1mon', '15yrs 2mon', '15yrs 3mon',
       '15yrs 4mon', '15yrs 5mon', '15yrs 6mon', '15yrs 7mon',
       '15yrs 8mon', '15yrs 9mon', '16yrs 0mon', '16yrs 10mon',
       '16yrs 1mon', '16yrs 2mon', '16yrs 3mon', '16yrs 4mon',
       '16yrs 5mon', '16yrs 6mon', '16yrs 8mon', '16yrs 9mon',
       '17yrs 0mon', '17yrs 10mon', '17yrs 1mon', '17yrs 2mon',
       '17yrs 3mon', '17yrs 6mon', '17yrs 9mon', '18yrs 11mon',
       '18yrs 1mon', '18yrs 2mon', '18yrs 4mon', '18yrs 5mon',
       '18yrs 6mon', '19yrs 10mon', '19yrs 11mon', '19yrs 3mon',
       '19yrs 4mon', '19yrs 7mon', '19yrs 8mon', '19yrs 9mon',
       '1yrs 0mon', '1yrs 10mon', '1yrs 11mon', '1yrs 1mon', '1yrs 2mon',
       '1yrs 3mon', '1yrs 4mon', '1yrs 5mon', '1yrs 6mon', '1yrs 7mon',
       '1yrs 8mon', '1yrs 9mon', '20yrs 1mon', '20yrs 5mon', '20yrs 6mon',
       '20yrs 8mon', '20yrs 9mon', '21yrs 3mon', '22yrs 1mon',
       '22yrs 3mon', '22yrs 7mon', '23yrs 3mon', '24yrs 2mon',
       '24yrs 8mon', '25yrs 6mon', '27yrs 3mon', '27yrs 4mon',
       '29yrs 7mon', '2yrs 0mon', '2yrs 10mon', '2yrs 11mon', '2yrs 1mon',
       '2yrs 2mon', '2yrs 3mon', '2yrs 4mon', '2yrs 5mon', '2yrs 6mon',
       '2yrs 7mon', '2yrs 8mon', '2yrs 9mon', '30yrs 9mon', '37yrs 5mon',
       '3yrs 0mon', '3yrs 10mon', '3yrs 11mon', '3yrs 1mon', '3yrs 2mon',
       '3yrs 3mon', '3yrs 4mon', '3yrs 5mon', '3yrs 6mon', '3yrs 7mon',
       '3yrs 8mon', '3yrs 9mon', '4yrs 0mon', '4yrs 10mon', '4yrs 11mon',
       '4yrs 1mon', '4yrs 2mon', '4yrs 3mon', '4yrs 4mon', '4yrs 5mon',
       '4yrs 6mon', '4yrs 7mon', '4yrs 8mon', '4yrs 9mon', '5yrs 0mon',
       '5yrs 10mon', '5yrs 11mon', '5yrs 1mon', '5yrs 2mon', '5yrs 3mon',
       '5yrs 4mon', '5yrs 5mon', '5yrs 6mon', '5yrs 7mon', '5yrs 8mon',
       '5yrs 9mon', '6yrs 0mon', '6yrs 10mon', '6yrs 11mon', '6yrs 1mon',
       '6yrs 2mon', '6yrs 3mon', '6yrs 4mon', '6yrs 5mon', '6yrs 6mon',
       '6yrs 7mon', '6yrs 8mon', '6yrs 9mon', '7yrs 0mon', '7yrs 10mon',
       '7yrs 11mon', '7yrs 1mon', '7yrs 2mon', '7yrs 3mon', '7yrs 4mon',
       '7yrs 5mon', '7yrs 6mon', '7yrs 7mon', '7yrs 8mon', '7yrs 9mon',
       '8yrs 0mon', '8yrs 10mon', '8yrs 11mon', '8yrs 1mon', '8yrs 2mon',
       '8yrs 3mon', '8yrs 4mon', '8yrs 5mon', '8yrs 6mon', '8yrs 7mon',
       '8yrs 8mon', '8yrs 9mon', '9yrs 0mon', '9yrs 10mon', '9yrs 11mon',
       '9yrs 1mon', '9yrs 2mon', '9yrs 3mon', '9yrs 4mon', '9yrs 5mon',
       '9yrs 6mon', '9yrs 7mon', '9yrs 8mon', '9yrs 9mon'], dtype=object)

In [157]:
data1

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,State_ID,Employee_code_ID,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,6,1998,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,6,1998,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,6,1998,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,6,1998,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,6,1998,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,464908,52303,64541,83.67,9,16120,86,5427,3,1475,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,1
65531,434034,52803,68929,78.34,9,16120,86,5448,3,1475,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
65532,433849,52999,74740,76.26,9,16120,86,5427,3,1475,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
65533,559443,57259,82172,70.58,9,16120,86,5461,3,1475,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
65534,626508,62213,82172,76.67,9,16120,86,5461,3,1475,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0

In [156]:
data1.dtypes

UniqueID                                 int64
disbursed_amount                         int64
asset_cost                               int64
ltv                                    float64
branch_id                                int64
supplier_id                              int64
manufacturer_id                          int64
Current_pincode_ID                       int64
State_ID                                 int64
Employee_code_ID                         int64
MobileNo_Avl_Flag                        int64
Aadhar_flag                              int64
PAN_flag                                 int64
VoterID_flag                             int64
Driving_flag                             int64
Passport_flag                            int64
PERFORM_CNS.SCORE                        int64
PERFORM_CNS.SCORE.DESCRIPTION           object
PRI.NO.OF.ACCTS                          int64
PRI.ACTIVE.ACCTS                         int64
PRI.OVERDUE.ACCTS                        int64
PRI.CURRENT.BALANCE                      int64
PRI.SANCTIONED.AMOUNT                    int64
PRI.DISBURSED.AMOUNT                     int64
SEC.NO.OF.ACCTS                          int64
SEC.ACTIVE.ACCTS                         int64
SEC.OVERDUE.ACCTS                        int64
SEC.CURRENT.BALANCE                      int64
SEC.SANCTIONED.AMOUNT                    int64
SEC.DISBURSED.AMOUNT                     int64
PRIMARY.INSTAL.AMT                       int64
SEC.INSTAL.AMT                           int64
NEW.ACCTS.IN.LAST.SIX.MONTHS             int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS      int64
AVERAGE.ACCT.AGE                        object
CREDIT.HISTORY.LENGTH                   object
NO.OF_INQUIRIES                          int64
loan_default                             int64
dtype: object